<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="author" content="Benjamin Dean">
        <meta name="description" content="Node-Backbone-FuelUX based App">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="shortcut icon" href="/img/fuel-icon.gif">
        <script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.0.6/require.min.js"></script>
        <script src="/js/app-config.js"></script>
        <script src="//use.edgefonts.net/ubuntu-condensed.js"></script>
        {{{block "stylesheets"}}}
    </head>
    <body>
        {{{body}}}

        {{{block "scripts"}}}
    </body>
</html>
